@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');

body {
    margin: 0;
    padding: 0;
}
/* GENERAL RULES */
a {
    color: white;
}

.uppercase {
    text-transform: uppercase;
}

.content-font {
    font-family: "Titillium Web", sans-serif;
}

.text-main-orange {
    color: #F05E23;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
}

/* NAV */
#mainNav .nav-link {
    color: rgba(255, 255, 255, 0.9);
}

#mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    letter-spacing: 5px;
}


/* NAV BAR AFTER COLLAPSE */
#mainNav.navbar-shrink {
    background-color: #141414;
    opacity: 0.97;
}

#mainNav.navbar-shrink .navbar-brand {
    color: #9A9A9A;
}

#mainNav.navbar-shrink .nav-link {
    color: #9A9A9A;
}

#mainNav.navbar-shrink .nav-link:hover {
    color: #F05E23;
}

/* BUTTONS */
.btn-primary {
    background-color: #141414;
}

.btn-primary:hover {
    background-color: #191818;
    color: #F05E23;
}

.btn-primary:focus {
    background-color: #191818;
}

/* CARDS */ 
.contact-section .card {
    background-color: #191818;
    color: #fafafa;
    border-bottom: 0.25rem solid #F05E23;
}

.contact-section .card hr {
    border-color: #F05E23;
    border-width: 0.25rem;
    width: 3rem;
}

/* MASTHEAD */

.masthead {
    background: linear-gradient(to bottom,rgba(22,22,22,.3) 0,rgba(22,22,22,.7) 75%,#161616 100%),url("../img/main-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

/* CONTENT */

.bg-gray {
    background-color: #191818;
}

.projects-section {
    padding: 5rem 0;
}

.projects-section .project-text hr {
    border-color: #F05E23;
    border-width: 0.25rem;
    width: 30%;
}

.content-header {
    margin-bottom: 5rem;
}

.option-container {
    display: flex;
    justify-content: space-between;
}

.option-item {
    font-size: 120%;
}

/* FORM */

input,
textarea {
    width: 100%;
    color: #9A9A9A;
    background-color: #191818;
    outline: none;
    border: 1px solid #9A9A9A;
}

input:hover,
textarea:hover {
    border: 1px solid #F05E23;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: #9A9A9A;
}


