{% extends "base.html" %}
{% block content %}
    <h3 class="content-header text-center text-white uppercase">Contact Me</h3>
    <p class="text-center">For general queries or queries regarding bookings please fill out the contact form!</p>
    <div class="row justify-content-center no-gutters">
        <div class="col-sm-12 col-md-6">
            <form action="">
                <label for="name">Name:</label>
                <div class="form-item">
                    <input type="text" name="name" id="name" required placeholder="Full Name">
                </div>
                <label for="email">Email:</label>
                <div class="form-item">
                    <input type="email" id="email" name="email" required placeholder="Email">
                </div>
                <label for="message">Your Message:</label>
                <div class="form-item">
                    <textarea name="message" id="message" cols="30" rows="10" required placeholder="Your message"></textarea>
                </div>
                <div class="text-center form-item">
                    <button type="submit" class="form-submit btn btn-primary">Send Message</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}