{% extends "base.html" %}
{% block content %}
      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="{{ url_for('static', filename='img/people1.jpg') }}" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white uppercase">People</h4>
                <p class="mb-0 text-white-50">The warmth of humanity comes from company, capturing the images of people
                    in their natural state, each individuality presenting itself as a book, with a long story to tell.
                </p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="{{ url_for('static', filename='img/patterns1.jpg') }}" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white uppercase">Patterns</h4>
                <p class="mb-0 text-white-50">We are represented by culture, traditions, environment and biology. Each
                    of these factors combine to create the uniqueness we see in the world. This is what makes
                    interactions magical.</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Project 3 Row-->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="{{ url_for('static', filename='img/places1.jpg') }}" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white uppercase">Places</h4>
                <p class="mb-0 text-white-50">We inhabit a plane of many curiosities. Seeking peace, music and
                    adventure, capturing the environment is a reflection of capturing the moment, the two dance a
                    beautiful sympony.</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Project 4 Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="{{ url_for('static', filename='img/product1.jpg') }}" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white uppercase">Products</h4>
                <p class="mb-0 text-white-50">We value, appreciate and embrace our possessions, we attach and deattach
                    in a constantly revolving cycle. Finding new things that align with our state of being.</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}